# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# MacOS 
.DS_Store

# Eval outputs (VERY IMPORTANT)
runs/*.json
!runs/.gitkeep

# Reports (Phase 4)
reports/

# Logs
*.log

# IDE
.vscode/
.idea/

# Jupyter (if you use later)
.ipynb_checkpoints/

# Misc
*.sqlite3
*.db